.section {
    &-head {
        padding-bottom: 34px;
        &-sm {
            text-align: center;
            padding-bottom: 34px;
        }
        br {
            display: none;
        }
    }
}
// Responsive breakpoint
@include media-breakpoint-up(lg) {
    .section {
        &-head {
            padding-bottom: 45px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            br {
                display: inline-block;
            }
        }
    }
}